body {
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	color: #000;
  --scs-red: #9C1B26;
	--scs-grey: #F1F1F2;
}

.body-container {
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
  flex-flow: column wrap;
}

h1, h2 {
	font-size: 30px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	color: var(--scs-red);
}

h3 {
	font-size: 25px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	color: var(--scs-red);
}

/*-----------------------------------------------------------*/
/*------------------------- Header --------------------------*/
/*-----------------------------------------------------------*/

.header-container {
	width: 100%;
	height: 180px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-repeat: no-repeat;
	color: var(--scs-red);
}

.header-top-row {
	padding-top: 36px;
	padding-bottom: 20px;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.header-bottom-row {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.header-bottom-left {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 36px;
}

.header-bottom-right {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}

.logo-text {
	width: 190px;
}

.logo-icons {
	width: 165px;
}

.icon-training {
	width: 110px;
}

img {
  width: 100%;
  height: auto;
}

.welcome {
	padding: 0px 30px 12px 0px;
}

/*-----------------------------------------------------------*/
/*---------------------- Main Content -----------------------*/
/*-----------------------------------------------------------*/

.main-content {
  height: 600px;
	background-image: url("imgs/puppies.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
	flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.login-form {
	display: none;
}

.login-form-show {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.login-wrapper {
	width: 620px;
	height: 120px;
	color: var(--scs-red);
	background-color: var(--scs-grey);
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.input-login {
	width: 205px;
	height: 45px;
	border-radius: none;
	border: 2px solid var(--scs-red);
}

input::placeholder {
	color: var(--scs-red) !important;
}

/*-----------------------------------------------------------*/
/*--------------------- Main Card ---------------------------*/
/*-----------------------------------------------------------*/

.card {
  width: 620px;
	height: 420px;
  border-radius: 0px;
  border: none;
	margin-top: 45px;
}

.card-header {
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: var(--scs-red);
  border-radius: 0px;
  color: #f9f9f9;
	font-size: 14px;
}

.card-header:first-child {
  border-radius: 0px;
}

.card-body {
  display: flex;
  justify-content: space-around;
}

.card-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-subtitle {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.card-subtitle h3 {
  padding-bottom: 20px;
}

.card-trademark {
  font-size: 14px;
  color: var(--scs-red);
}

/*-----------------------------------------------------------*/
/*------------------------ Buttons --------------------------*/
/*-----------------------------------------------------------*/

.btn-browse {
	width: 190px;
	height: 45px;
}

.btn-login {
	width: 180px;
	height: 45px;
	font-size: 14px;
}

.btn-login-dropdown {
	width: 96px;
	height: 45px;
	font-size: 14px;
}

.btn-red {
  border-radius: 0px;
  background-color: var(--scs-red);
  color: #f9f9f9;
}

.btn-card {
  width: 256px;
  height: 45px;
  margin-bottom: 10px;
	text-align: left;
	font-size: 14px;
}

.btn-red {
  border-radius: 0px;
  background-color: var(--scs-red);
  color: #f9f9f9;
}

.btn-white {
  border-radius: 0px;
	border: 1px solid var(--scs-red);
	color: var(--scs-red);
}

.dropdown-toggle {
	background-color: var(--scs-grey);
	color: var(--scs-red);
}


footer {
  height: 180px;
	background-color: var(--scs-grey);
}

.footer-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.logo-text-footer {
	width: 200px;
}

.logo-icons-footer {
	width: 200px;
	padding-bottom: 8px;
}


/*-----------------------------------------------------------*/
/*------------------- Bootstrap Overrides -------------------*/
/*-----------------------------------------------------------*/

.form-control {
	border-radius: 0px;
}
