/*-----------------------------------------------------------*/
/*------------------- Bootstrap Overrides -------------------*/
/*-----------------------------------------------------------*/

.form-control {
	border-radius: 0px;
	color: #9C1B26;
}

img {
  	width: 100%;
  	height: auto;
}

.form-control:focus {
	box-shadow: none;
	color: #9C1B26;
}

.card { margin-top: 30px; }

.row {
	margin: 0;
	justify-content: space-between;
}

.nav-tabs {
	justify-content: space-between;
	margin-bottom: 15px;
}

.nav-tabs, .nav-tabs .nav-link {
	border: none;
	border-radius: 0px;
}

.nav-link:hover { color: #F1F1F2; }

.card-footer {
	display: inline-flex;
	justify-content: center;
	border: none;
}

.card-footer p { margin: 0; }

.card-footer a {
	color: #9C1B26;
	font-weight: bold;
}

/*-----------------------------------------------------------*/
/*------------------------- General -------------------------*/
/*-----------------------------------------------------------*/

body {
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	color: #000;
}

.body-container {
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
  	flex-flow: column wrap;
}

h1, h2, h3, h4 {
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	color: #9C1B26;
}

h1, h2 { font-size: 30px; }

h3 { font-size: 25px; }

h4 { font-size: 18px; }

/*-----------------------------------------------------------*/
/*-------------------------- FLEX ---------------------------*/
/*-----------------------------------------------------------*/

.flex-col-spacearound {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.flex-col-spacearound-center {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100%;
}

.flex-col-spacebetween {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.flex-col-end-center {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.flex-col-start-center {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.flex-row-end {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.flex-row-start {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.flex-row-spacearound {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.flex-row-spacearound-center {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.flex-row-spacearound-start {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
}

.flex-row-spacebetween {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.flex-row-spacebetween-center {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.flex-row-spacebetween-end {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}

/*-----------------------------------------------------------*/
/*------------------------- Header --------------------------*/
/*-----------------------------------------------------------*/

.header-container {
	background-repeat: no-repeat;
	color: #9C1B26;
}

.header-top-row {
	padding-top: 36px;
	padding-bottom: 8px;
}

.header-bottom-left { padding-bottom: 36px; }

.logo-text { width: 190px; }

.logo-icons { width: 165px; }

.icon-training { width: 110px; }

.welcome { padding: 0px 30px 12px 0px; }

/*-----------------------------------------------------------*/
/*---------------------- Main Content -----------------------*/
/*-----------------------------------------------------------*/

.main-content-main-page {
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
}

.odor-school { background-image: url("../imgs/NasalRanger.jpg"); }

.sensory-institute { background-image: url("../imgs/NasalRanger.jpg"); }

.card-container {
	background-repeat: no-repeat;
  	background-size: cover;
}

.course-detail { height: 760px; }

.card-tall { height: 800px; }

#login-form {
	width: 100%;
}

.login-wrapper {
	width: 620px;
	height: 120px;
	color: #9C1B26;
	background-color: #F1F1F2;
}

.input-login {
	width: 205px;
	height: 45px;
	border-radius: none;
	border: 2px solid #9C1B26;
}

.input-registration {
	width: 360px;
	height: 45px;
	border-radius: none;
	border: 1px solid #9C1B26;
	margin-bottom: 15px;
}

.input-message {
	width: 360px;
	height: 120px;
	border-radius: none;
	border: 1px solid #9C1B26;
}

textarea::placeholder, input::placeholder {
	color: #9C1B26 !important;
}

.input-half {
	padding-right: 0;
	width: 174px;
}

.input-fourth {
	padding-right: 0;
	width: 81px;
}

select.form-control {
	color: #9C1B26;
	height: 45px !important;
	padding-left: 10px;
}

option { color: #9C1B26; }

select:hover { cursor: pointer; }

.bottom-field-row, .bottom-field-row .input-registration {
	margin-bottom: 0;
}

.form-info-container {
	display: flex;
	border: 1px solid #aaa;
	justify-content: center;
	align-items: center;
	height: 105px;
	width: 360px;
	margin-bottom: 15px;
}

.form-info {
	display: flex;
	font-size: 14px;
	margin: 0 10px;
}

.form-info-container>img {
	width: 90px;
	height: 90px;
}

/*-----------------------------------------------------------*/
/*--------------------- Main Card ---------------------------*/
/*-----------------------------------------------------------*/

.card-row { margin-bottom: 20px; }

.left-card { margin-right: 26px; }

.right-card { margin-left: 26px; }

.card-row>div { width: 50%; }

.card-main-page {
  	width: 620px;
	height: 440px;
	border-radius: 0px;
	border: none;
	margin-top: 30px;
}

.card-course-detail {
  	width: 620px;
	height: 700px;
	border-radius: 0px;
	border: none;
}

.card-payment {
	width: 620px;
	border: none;
}

.card-course-description {
  	width: 360px;
	height: 200px;
	border-radius: 0px;
	border: none;
	margin-top: 30px;
	border: 1px solid #9C1B26;
}

.expandable-button-collapse {
	height: 225px;
	width: 190px;
	border: 1px solid #9C1B26;
	border-top: 0;
}

.course-detail-text {
	margin: 10px;
	color: #9C1B26;
	font-size: 14px;
}

.card-course-contents {
  	width: 360px;
	height: 275px;
  	border-radius: 0px;
  	border: none;
	margin-top: 30px;
	border: 1px solid #9C1B26;
}

.card-header {
	height: 45px;
	background-color: #9C1B26;
	border-radius: 0px;
	color: #f9f9f9;
	font-size: 14px;
}

.card-nested {
	display: flex;
	border: 1px solid #9C1B26;
	border-radius: 0px;
	justify-content: center;
}

.card.card-nested { margin-top: 14px; }

.card-header:first-child { border-radius: 0px; }

.card-body-course-detail { font-size: 12px; }

.card-body-course-contents { padding-left: 0; }

.card-column-right { padding-top: 30px; }

.card-subtitle h3 { padding-bottom: 20px; }

.card-trademark {
	font-size: 14px;
	color: #9C1B26;
}

.expandable-text-wrapper {
	width: 256px;
	height: 80px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	color: #f9f9f9;
	background-size: 256px;
	padding: 10px;
}

.exp-txt-wrp-1 { background-image: url("../imgs/button_hover_01.png"); }

.exp-txt-wrp-2 { background-image: url("../imgs/button_hover_02.png"); }

.exp-txt-wrp-3 { background-image: url("../imgs/button_hover_03.png"); }

.exp-txt-wrp-4 { background-image: url("../imgs/button_hover_04.png"); }

.collapsed-button { display: none; }

.logo-nasal-ranger {
	width: 110px;
	margin-right: 30px;
}

#cost {
	color: #9C1B26;
	font-weight: bold;
}

/*-----------------------------------------------------------*/
/*------------------------ Buttons --------------------------*/
/*-----------------------------------------------------------*/

.btn:hover { cursor: pointer; }

.btn-browse {
	width: 190px;
	height: 45px;
}

.btn-login {
	width: 180px;
	height: 45px;
	font-size: 14px;
}

.btn-course {
	width: 190px;
	height: 45px;
	padding: 0;
	margin-top: 15px;
}

.btn-course-top { margin-top: 0; }

.btn-course-text { padding: 10px 0 0 10px; }

.btn-icon-wrapper {
	height: 44px;
	width: 44px;
	background-color: #9C1B26;
}

.btn-login-dropdown {
	width: 96px;
	height: 45px;
	font-size: 14px;
}

.btn-logout {
	width: 180px;
	height: 45px;
	font-size: 14px;
}

.btn-student-center {
	width: 180px;
	height: 45px;
	font-size: 14px;
	margin-right: 10px;
}

.btn-card {
	width: 256px;
	height: 45px;
	margin-top: 10px;
	text-align: left;
	font-size: 14px;
}

.btn-red {
  	border-radius: 0px;
  	background-color: #9C1B26;
  	color: #f9f9f9;
  	height: 45px;
}

.btn-white {
  	border-radius: 0px;
	border: 1px solid #9C1B26;
	color: #9C1B26;
	height: 45px;
}

.dropdown-toggle, .nav-tabs .nav-link.active {
	background-color: #F1F1F2;
	color: #9C1B26;
	font-weight: bold;
}

.btn-course-detail {
	width: 170px;
	margin: 10px;
}

.btn-registration { width: 170px; }

.nav-item {
	width: 31%;
	height: 45px;
	display: flex;
}

.nav-link {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	height: 45px;
}

.nav-link .dropdown-toggle { display: none; }

.nav-link.active .dropdown-toggle {
	display: flex;
	margin-left: 6px;
}

.tab-content { height: 285px; }

/*-----------------------------------------------------------*/
/*-------------------------- Footer -------------------------*/
/*-----------------------------------------------------------*/

footer {
  	height: 180px;
	background-color: #F1F1F2;
}

.logo-text-footer {
	width: 200px;
}

.logo-icons-footer {
	width: 200px;
	padding-bottom: 8px;
}